@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
	margin: 0;
	padding: 0;
}

html {
	font-family: "Inter", monospace, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	text-align: center;
	margin-top: 100px;
	margin-left: 10px;
	margin-right: 10px;
	overflow-x: hidden;
}

::-moz-selection {
	background: #6effd8;
}

::selection {
	background: #6effd8;
}

.logo {
	margin-bottom: 50px;
}

h1 {
	font-weight: 800;
	margin-bottom: 28px;
}

.blob-div {
	display: flex;
	margin-left: auto;
	margin-right: auto;
}

.blob {
	opacity: 0.5;
	max-width: 300px;
	z-index: -1;
	position: absolute;
	left: 10%;
	top: 0;
}

.heading {
	font-size: 50px;
}

.subheading {
	margin-bottom: 80px;
}

.highlight {
	background-color: rgb(179, 179, 255);
	border-radius: 10px;
	padding: 3px;
}

h2 {
	margin-bottom: 50px;
}

form {
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	font-size: 22px;
	padding: 20px;
	border-radius: 5px;
	border: 1px solid black;
	align-items: center;
	max-width: 700px;
}

form div {
	margin-bottom: 20px;
	margin-top: 20px;
}

input[type="checkbox"],
label {
	width: 20px; /*Desired width*/
	height: 20px; /*Desired height*/
	cursor: pointer;
}

hr {
	border: 0;
	clear: both;
	opacity: 0.2;
	display: block;
	width: 96%;
	background-color: #000000;
	height: 2px;
}

.copy-text-div p,
.logo-url-div p {
	font-weight: 400;
	margin-bottom: 20px;
}

.alert {
	padding: 5px;
	border-radius: 5px;
	font-size: 15px;
	background-color: rgba(255, 0, 0, 0.185);
}

textarea {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid black;
	min-height: 50px;
	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 18px;
	width: 200px;
	resize: vertical;
}

#logo-url {
	padding: 10px;
	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: 18px;
	border-radius: 5px;
	border: 1px solid black;
}

.submit-button-div button {
	background-color: #ddf3fe;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid black;
	cursor: pointer;
	font-size: 18px;
}

.submit-button-div button:hover {
	background-color: #7bd3ff;
}

footer {
	margin: -10px;
	margin-top: 40px;
	padding: 100px;
	background-color: #ddf3fe;
	color: #f09333;
}

footer a {
	text-decoration: none;
	padding: 5px;
	color: #405cfd;
	text-decoration: underline;
}

.black-text {
	color: #43850e;
	text-decoration: underline;
}

.generated {
	display: none;
}

.generated h3 {
	margin-top: 50px;
}

.generated .generated-buttons {
	display: flex;
	flex-direction: column;
	cursor: pointer;
}
.generated-buttons img {
	margin-top: 20px;
}

@media (min-width: 480px) {
	.blob {
		left: 30%;
	}
}

@media (min-width: 640px) {
	.blob {
		left: 40%;
	}
}
/* [![copy](https://cdn.jsdelivr.net/gh/lalit2005/copii@master/assets/copy-below-code.svg)](https://copii.vercel.app/?ct=afdkjfgdijd¬Ω≈¬ß≈sdgogfkdfh%20;'fdgh&tm=blk&lg=https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png) */
