body {
  font-family: "Fira Code", SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  text-align: center;
  margin-top: 10vh;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  padding: 3px;
  background-color: lightgreen;
  border-radius: 5px;
}

p {
  font-size: 25px;
}

.logos {
  max-width: 40vw;
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}

.custom {
  max-height: 100px;
}
